.dashboard {
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin: 10px;
    .dashboard-navbar {
        display: flex;
        margin-bottom: 25px;
        .dashboard-link {
            font-size: 25px;
            width: 160px;
            height: 60px;
            color: white;
            background-color: transparent;
            border: 1px solid gray;
            border-radius: 3px;
            margin-right: 5px;
        }
        .selected-dashboard-link{
            font-size: 25px;
            width: 160px;
            height: 60px;
            color: white;
            background-color: #2667d1;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    .main-dashboard {
        padding: 20px;
        height: 100%;
        background-color: #afb1b3;
        border-radius: 3px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
}